.student-exercise-gif {
  width: 75%;
  height: 75%;
}

.student-profile {
  display: flex;
  flex-direction: column;
}

.student-profile button {
  background-color: #3F3F3F;
  color: white;
  border-radius: 8px;
  margin-top: 2%;
  padding: 1%;
  font-family: 'Raleway',
    sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.student-profile button:hover {
  background-color: #B7B7B7;
  color: black;
  border: 1px solid black;
}

.student-avatar {
  height: 15%;
  width: 15%;
  margin-bottom: 2%;
}