.student-exercise-gif {
  width: 50%;
  height: 50%;
}

.student-profile {
  display: flex;
  flex-direction: column;
}

.student-profile button {
  background-color: #3F3F3F;
  color: white;
  border-radius: 8px;
  margin-top: 2%;
  padding: 1%;
  font-family: 'Raleway',
    sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.student-profile button:hover {
  background-color: #B7B7B7;
  color: black;
  border: 1px solid black;
}

.student-avatar {
  height: 15%;
  width: 15%;
  margin-bottom: 2%;
}

label {
  color: black;
  margin: 2%;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1%;
}

.form-title {
  text-decoration: underline;
  color: black;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
  margin: 2%;
}

.student-custom-form {
  display: flex;
  flex-direction: column;
  border: 5px solid #3F3F3F;
  border-radius: 8px;
  // width: 20rem;
  height: 70vh;
}

.student-custom-form-data {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  padding: 3%;
  height: 100%;
  margin-top: 7%;
  box-shadow: lighten;

}

.student-form-data {
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Raleway',
    sans-serif;
  word-wrap: break-word;
  // height: 7%;
  width: 90%;
  margin-left: 2%;
}

.student-custom-form button {
  background-color: #3F3F3F;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 8% auto;
  padding: 3%;
  font-family: 'Raleway',
    sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;

}

.student-custom-form button:hover {
  color: rgb(1, 248, 248);
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(1, 248, 248);
}

.student-custom-plan {
  display: flex;
  justify-content: space-around;
  width: 100%;
}