.main-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.sub-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-container {
  text-align: center;
  margin: 7vh;
}

.feedback {
  display: grid;
  grid-template-rows: 100px 100px 250px 50px;
}
.video-display {
  margin: 60px;
}
#contactMessage {
  display: flex;
  text-align: center;
  border: 3px solid rgb(116, 113, 113);
  border-radius: 1vh;
  font-size: x-large;
}
.send-button {
  border-radius: 1vh;
  margin-top: 1vh;
  font-weight: 700;
  letter-spacing: 0.5vh;
  color: white;
  background-color: rgb(116, 113, 113);
  border: 3px solid rgb(116, 113, 113);
}
.send-button:hover {
  background-color: white;
  color: rgb(116, 113, 113);
  cursor: grabbing;
  transition-delay: .01s; /* delays for 1 second */
}
#outlined-basic {
  border-radius: 1vh;
  font-size: large;
  border: 3px solid rgb(116, 113, 113);
}
#outlined-text {
  border-radius: 1vh;
  font-size: large;
  border: 3px solid rgb(116, 113, 113);
}


.video-album {
  border-radius: 1vh;
  margin: 7vh;
  text-align: center;
  border: 3px solid rgb(116, 113, 113);
}
