html,
body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  // margin: 0 5%;
  padding: 1%;
  background-color: rgb(255, 226, 193);
}

.card {
  padding: 15px 25px;
  text-transform: uppercase;
  cursor: pointer;
  width: 90%;
}

h2 {
  text-align: center;
  color: white;
}

.button {
  font-size: 1rem;
  background-color: rgb(88, 47, 0);
  color: white;
  text-transform: uppercase;
  padding: 2%;
  position: absolute;
  top: 50%;
  right: 5%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.custom-plan {
  text-align: center;
  position: relative;
}
