.custom-plan {
  display: flex;
  justify-content: space-around;

}

.custom-form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 35%;
  margin: 0 2%;
  height: 70%;

}

.custom-form-data {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  padding: 3%;
  border: 5px solid #3F3F3F;
  border-radius: 8px;
  height: 100%;
  margin-top: 7%;
  box-shadow: lighten;

}



.custom-form button {
  background-color: #3F3F3F;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 4%;
  padding: 3%;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;

}

.custom-form button:hover {
  color: rgb(1, 248, 248);
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(1, 248, 248);
}

.exercise-gif {
  width: 6rem;
  height: 5rem;
}