.custom-plan {
  display: flex;
  justify-content: space-around;
}

.custom-form {
  display: flex;
  flex-direction: column;
  color: white;

}

.create-plan {
  background-color: "black";
  border: none;
  border-radius: 5px;
  color: white;
}