html,
body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  // margin: 0 5%;
  padding: 1%;
  background-color: rgb(255, 226, 193);
}

.card {
  padding: 15px 25px;
  text-transform: uppercase;
  cursor: pointer;
  width: 90%;
}

h2 {
  text-align: center;
  color: white;
}


.my-plan {
  text-align: right;
}